{% extends "layouts/base.html.twig" %}

{% block title 'Change Password' %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1 class="my-5 text-center">Change password</h1>

			{{ form_start(form) }}

			<div class="mb-4">
				{{ form_widget(form) }}
			</div>
			<button type="submit" class="mb-5 btn btn-primary btn-lg col-12">
				Update Password
			</button>

			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
