{% extends 'layouts/base.html.twig' %}

{% block title 'Reset your password' %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1 class="mt-5 mb-5 text-center">Reset your password</h1>

			{{ form_start(resetForm, {attr: {novalidate: 'novalidate'}}) }}
			<div class="mb-4">
				{{ form_row(resetForm.plainPassword) }}
			</div>

			<div class="mb-5">
				<button type="submit" class="btn btn-primary btn-lg col-12">Reset password</button>
			</div>

			{{ form_end(resetForm) }}
		</div>
	</div>
{% endblock %}
