{% extends 'layouts/base.html.twig' %}

{% block title 'Oops!' %}

{% block body %}
	<h1>Oops! An error occured</h1>

	<h2>The server returned a "403 Forbidden".</h2>
	<p class="mb-5">
		It seems like you don't have the rights to access this ressource. Please
		<a href=" {{ path('app_home') }} ">return to the homepage.</a>
	</p>
{% endblock %}
